{
    "openapi": "3.0.0",
    "info": {
        "title": "Wherefour API",
        "description": "",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://my.wherefour.com/api/v1",
            "variables": {}
        }
    ],
    "paths": {
        "/inventory/last_adjustment": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Retrieve the last stock change that was made.",
                "description": "",
                "operationId": "Last stock lot change",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/inventory/": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Lists all inventory items. Results will be paginated.",
                "description": "",
                "operationId": "List inventory items",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/inventory/search": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Search for inventory item, based on the closest match(s) to the provided SKU or inventory item name.",
                "description": "",
                "operationId": "Search for an inventory item",
                "parameters": [
                    {
                        "name": "sku",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/inventory/{inventory_id}/stocks": {
            "post": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Add a new stock lot to the specific inventory item.",
                "description": "",
                "operationId": "Add a stock lot",
                "parameters": [
                    {
                        "name": "location_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lot_code",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "barcode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "details",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "note",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vendor_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expiration_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "base_count",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "required": [
                                "location_id",
                                "lot_code",
                                "barcode",
                                "details",
                                "note",
                                "cost",
                                "vendor_id",
                                "expiration_date",
                                "base_count"
                            ],
                            "type": "object",
                            "properties": {
                                "location_id": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "lot_code": {
                                    "type": "string"
                                },
                                "barcode": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "details": {
                                    "type": "string"
                                },
                                "note": {
                                    "type": "string"
                                },
                                "cost": {
                                    "type": "string"
                                },
                                "vendor_id": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "expiration_date": {
                                    "type": "string"
                                },
                                "base_count": {
                                    "type": "string"
                                }
                            },
                            "example": {
                                "location_id": 1,
                                "lot_code": "1234",
                                "barcode": null,
                                "details": "New",
                                "note": "This is a note!",
                                "cost": "100.0",
                                "vendor_id": 1,
                                "expiration_date": "4/1/20",
                                "base_count": "100.0"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/shipments": {
            "get": {
                "tags": [
                    "Shipments"
                ],
                "summary": "Returns all shipments. Results will be paginated.",
                "description": "",
                "operationId": "List shipments",
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "parameters": []
            }
        },
        "/shipments/search": {
            "get": {
                "tags": [
                    "Shipments"
                ],
                "summary": "Search for shipments for a specific Wherefour order number. Results will be paginated.",
                "description": "",
                "operationId": "Search for shipments",
                "parameters": [
                    {
                        "name": "order_number",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The order number in Wherefour to search for shipments, e.g. \"SO105\""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Lists all orders. Results will be paginated.",
                "description": "",
                "operationId": "List orders",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/orders/{order_id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Retrieve a specific order, based on the order ID.",
                "description": "",
                "operationId": "Get an order",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/orders/search": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Search for an order, based on the Wherefour Order Number, e.g. 'SO1'.",
                "description": "",
                "operationId": "Search for an order",
                "parameters": [
                    {
                        "name": "order_number",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/{customer_id}/orders/{order_id}/last_shipment": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Retrieve the most recent shipment, for the specified customer ID and order ID.",
                "description": "",
                "operationId": "Get last shipment",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/{customer_id}/orders/{order_id}/shipments": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Lists all shipments, for the specific customer ID and order ID. Results will be paginated.",
                "description": "",
                "operationId": "List shipments",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/{customer_id}/orders/{order_id}/auto_ship": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Automatically select stock lots that are available to fulfill the order, for the specified customer ID and order ID.",
                "description": "",
                "operationId": "Auto ship",
                "parameters": [
                    {
                        "name": "tracking_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "delivery_method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "example": {
                                "tracking_number": "123456",
                                "delivery_method": "UPS Ground"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/{customer_id}/orders/{order_id}": {
            "patch": {
                "tags": [
                    "Orders"
                ],
                "summary": "Updates the contents of an order, for the specified customer ID and order ID.",
                "description": "",
                "operationId": "Update an order",
                "parameters": [
                    {
                        "name": "order_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "deliver_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "produce_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "payment_term_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "salesperson_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "payment_terms",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "delivery_method_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "instructions",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subtotal",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "discount",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tax",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "shipping",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "total",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_items_attributes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/{customer_id}/orders": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Create a new order for the specified customer ID.",
                "description": "",
                "operationId": "Create an order",
                "parameters": [
                    {
                        "name": "order_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "deliver_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "produce_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "payment_term_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "salesperson_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "payment_terms",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "delivery_method_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "instructions",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subtotal",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "discount",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tax",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "shipping",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "total",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_items_attributes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "example": {
                                "customer_id": 1,
                                "order_number": "SO100",
                                "order_date": "3/1/20",
                                "deliver_date": "3/15/20",
                                "produce_date": "3/2/20",
                                "payment_term_id": null,
                                "status": "open",
                                "salesperson_id": null,
                                "payment_terms": null,
                                "delivery_method_id": 1,
                                "instructions": null,
                                "subtotal": 100,
                                "discount": 0,
                                "tax": 0,
                                "shipping": 0,
                                "total": 0,
                                "order_items_attributes": [
                                    {
                                        "inventory_id": 3,
                                        "count": 0,
                                        "unit_price": 0,
                                        "override_unit_price": 0
                                    },
                                    {
                                        "inventory_id": 4,
                                        "count": 0,
                                        "unit_price": 0,
                                        "override_unit_price": 0
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Lists all customers. Results will be paginated.",
                "description": "",
                "operationId": "List customers",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Creates a new customer record.",
                "description": "",
                "operationId": "Create a customer",
                "parameters": [
                    {
                        "name": "display_name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "allowEmptyValue": true
                    },
                    {
                        "name": "middle_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "allowEmptyValue": true
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "allowEmptyValue": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fax",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "custom_field_1",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "custom_field_2",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "custom_field_3",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "custom_field_4",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "business_license_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "billing_address_attributes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "shipping_address_attributes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "example": {
                                "customer": {
                                    "first_name": "John",
                                    "middle_name": null,
                                    "last_name": "Smith",
                                    "display_name": "John Smith",
                                    "email": "test@example.com",
                                    "phone": "555-1212",
                                    "mobile": "555-2222",
                                    "fax": "555-3333",
                                    "website": "https://website.com",
                                    "note": "This is a customer note.",
                                    "custom_field_1": null,
                                    "custom_field_2": null,
                                    "custom_field_3": null,
                                    "custom_field_4": null,
                                    "business_license_number": "123",
                                    "billing_address_attributes": {
                                        "line1": "123 Main",
                                        "line2": null,
                                        "line3": null,
                                        "line4": null,
                                        "line5": null,
                                        "city": null,
                                        "country_subdivision_code": null,
                                        "postal_code": null,
                                        "country": null
                                    },
                                    "shipping_address_attributes": {
                                        "line1": "555 Main",
                                        "line2": null,
                                        "line3": null,
                                        "line4": null,
                                        "line5": null,
                                        "city": null,
                                        "country_subdivision_code": null,
                                        "postal_code": null,
                                        "country": null
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/search": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Search for a customer with the specified display name.",
                "description": "",
                "operationId": "Search for a customer",
                "parameters": [
                    {
                        "name": "display_name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/kinds": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Lists all customer kinds.",
                "description": "",
                "operationId": "List customer kinds",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/customers/{customer_id}": {
            "patch": {
                "tags": [
                    "Customers"
                ],
                "summary": "Updates a customer record.",
                "description": "",
                "operationId": "Update a customer",
                "parameters": [
                    {
                        "name": "display_name",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "allowEmptyValue": true
                    },
                    {
                        "name": "middle_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "allowEmptyValue": true
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "allowEmptyValue": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fax",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "website",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "custom_field_1",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "custom_field_2",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "custom_field_3",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "custom_field_4",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "business_license_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "billing_address_attributes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "shipping_address_attributes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "example": {
                                "customer": {
                                    "first_name": "John",
                                    "middle_name": null,
                                    "last_name": "Smith",
                                    "display_name": "John A Smith",
                                    "email": "test@example.com",
                                    "phone": "555-1212",
                                    "mobile": "555-2222",
                                    "fax": "555-3333",
                                    "website": "https://website.com",
                                    "note": "This is a customer note.",
                                    "custom_field_1": null,
                                    "custom_field_2": null,
                                    "custom_field_3": null,
                                    "custom_field_4": null,
                                    "business_license_number": "123",
                                    "billing_address_attributes": {
                                        "line1": "123 Main",
                                        "line2": null,
                                        "line3": null,
                                        "line4": null,
                                        "line5": null,
                                        "city": null,
                                        "country_subdivision_code": null,
                                        "postal_code": null,
                                        "country": null
                                    },
                                    "shipping_address_attributes": {
                                        "line1": "555 Main",
                                        "line2": null,
                                        "line3": null,
                                        "line4": null,
                                        "line5": null,
                                        "city": null,
                                        "country_subdivision_code": null,
                                        "postal_code": null,
                                        "country": null
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/purchases": {
            "get": {
                "tags": [
                    "Purchases"
                ],
                "summary": "Lists all purchase orders. Results will be paginated.",
                "description": "",
                "operationId": "List purchases",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/vendors/{vendor_id}": {
            "get": {
                "tags": [
                    "Vendors"
                ],
                "summary": "Retrieve a vendor record for the specified vendor ID.",
                "description": "",
                "operationId": "Lookup a vendor",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/vendors/search": {
            "get": {
                "tags": [
                    "Vendors"
                ],
                "summary": "Search for a vendor with the specified display name.",
                "description": "",
                "operationId": "Search for a vendor",
                "parameters": [
                    {
                        "name": "display_name",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "style": "simple",
                        "schema": {
                            "type": "string",
                            "example": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/settings/delivery_methods": {
            "get": {
                "tags": [
                    "Vendors"
                ],
                "summary": "Lists all delivery methods.",
                "description": "",
                "operationId": "List delivery methods",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "components": {
        "securitySchemes": {
            "httpBasic": {
                "type": "http",
                "scheme": "basic"
            }
        },
        "links": {},
        "callbacks": {},
        "schemas": {}
    },
    "security": [
        {
            "httpBasic": []
        }
    ],
    "tags": [
        {
            "name": "Inventory",
            "description": ""
        },
        {
            "name": "Shipments",
            "description": ""
        },
        {
            "name": "Orders",
            "description": ""
        },
        {
            "name": "Customers",
            "description": ""
        },
        {
            "name": "Purchases",
            "description": ""
        },
        {
            "name": "Vendors",
            "description": ""
        }
    ]
}